<div class="movie-section" style="margin-bottom: 40px;">
  <h2 style="text-align: center;">Всі фільми</h2>
  <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; text-align: left;">
    <app-movie-card 
      *ngFor="let item of movies" 
      [movie]="item"
      (addToFavorite)="addMovieToFavorites($event)"
      (addToWatchList)="addMovieToWatchList($event)">
    </app-movie-card>
  </div>
</div>

<div class="movie-section" style="margin-bottom: 40px; text-align: left;">
  <h2>❤️ Улюблені</h2>
  <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: flex-start;">
    <app-movie-card 
      *ngFor="let item of favorites" 
      [movie]="item"
      (addToFavorite)="addMovieToFavorites($event)"
      (addToWatchList)="addMovieToWatchList($event)">
    </app-movie-card>
  </div>
</div>

<div class="movie-section" style="margin-bottom: 40px; text-align: left;">
  <h2>🕒 Подивитись пізніше</h2>
  <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: flex-start;">
    <app-movie-card 
      *ngFor="let item of watchList" 
      [movie]="item"
      (addToFavorite)="addMovieToFavorites($event)"
      (addToWatchList)="addMovieToWatchList($event)">
    </app-movie-card>
  </div>
</div>